<div
  (mouseenter)="stopCountDown()"
  class="rounded-sm bg-white fixed bottom-[24px] right-[40px] min-w-[380px] max-w-[420px] break-words z-[999] border border-transparent"
  [@openClose]="toastService.data && toastService.data.show ? 'open' : 'closed'"
>
  <div class="relative px-6 py-4">
    <div class="flex" *ngIf="toastService.data">
      <div class="toast_content">
        <h5 class="text-s text-gray-700 font-semibold mb-1">
          {{ toastService.data.title }}
        </h5>
        <div class="text-xs">
          {{ toastService.data.content }}
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full bg-red-600 h-1 transition-[width] duration-[100ms] ease-out"
    [ngClass]="{
      'bg-green-500': toastService.data && toastService.data.type === 'success'
    }"
    #element
  ></div>
</div>
